In [8]:
import numpy as np
import pandas as pd
from flask import Flask, render_template, request
# libraries for making count matrix and similarity matrix
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
#Import TfIdfVectorizer from scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer
# Import linear_kernel
from sklearn.metrics.pairwise import linear_kernel

In [9]:
def cosine_simi():
    df = pd.read_csv('/Users/harsharma20/Desktop/Movie Recommendation/data.csv')
    tfidf = TfidfVectorizer(stop_words='english')
    #Replace NaN with an empty string
    df['overview'] = df['overview'].fillna('')
    #Construct the required TF-IDF matrix by fitting and transforming the data
    tfidf_matrix = tfidf.fit_transform(df['overview'])
    # Compute the cosine similarity matrix
    cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
    return cosine_sim

In [10]:
df = pd.read_csv('/Users/harsharma20/Desktop/Movie Recommendation/data.csv')

df.head()
df.shape

(45466, 3)

In [11]:
df['title']

0                          Toy Story
1                            Jumanji
2                   Grumpier Old Men
3                  Waiting to Exhale
4        Father of the Bride Part II
                    ...
45461                         Subdue
45462            Century of Birthing
45463                       Betrayal
45464               Satan Triumphant
45465                       Queerama
Name: title, Length: 45466, dtype: object

In [12]:
df.loc[df['title']=='The Dark Knight']

,Unnamed: 0,title,overview
12481,12481,The Dark Knight,Batman raises the stakes in his war on crime. ...
28700,28700,The Dark Knight,In a post-apocalyptic world ravaged by feuding...

In [13]:
cosine_simi()

array([[1.        , 0.01504121, 0.        , ..., 0.        , 0.00595453,
        0.        ],
       [0.01504121, 1.        , 0.04681953, ..., 0.        , 0.02198641,
        0.00929411],
       [0.        , 0.04681953, 1.        , ..., 0.        , 0.01402548,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.00595453, 0.02198641, 0.01402548, ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.00929411, 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [14]:
# Function that takes in movie title as input and outputs most similar movies
def get_recommendations(title, cosine_sim=cosine_simi()):
    df = pd.read_csv('/Users/harsharma20/Desktop/Movie Recommendation/data.csv')
    
    if title not in df['title'].unique():
        return('This movie is not in our database.\nPlease check if you spelled it correct.')
    else:
        indices = pd.Series(df.index, index=df['title']).drop_duplicates()
        # Get the index of the movie that matches the title
        idx = indices[title]

        # Get the pairwsie similarity scores of all movies with that movie
        sim_scores = list(enumerate(cosine_sim[idx]))

        # Sort the movies based on the similarity scores
        sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

        # Get the scores of the 10 most similar movies
        sim_scores = sim_scores[1:11]

        # Get the movie indices
        movie_indices = [i[0] for i in sim_scores]

        # Return the top 10 most similar movies
        #return df['title'].iloc[movie_indices]


        # making an empty list that will containg all 10 movie recommendations
        l = []
        for i in range(len(sim_scores)):
            a = sim_scores[i][0]
            l.append(df['title'][a])
        return l

In [15]:
get_recommendations('Jumanji')

['Table No. 21',
 'Quiz',
 'Snowed Under',
 'The Mend',
 'Liar Game: Reborn',
 'The Dark Angel',
 'Quintet',
 'Brainscan',
 'Turkey Shoot',
 'Word Wars']

NameError: name 'df' is not defined